@using ZhuoHeiChaShared
@using ZhuoHeiChaUI.Services
@using ZhuoHeiChaUI.Events
@inject PlayerHubConnectionService PlayerHubConnection

<div class="playingCards">
    <div class="text">Player: @Player.Name 's remaining cards</div>
    <div>
        <span class="card-count">@remainingCardCount</span>

        @if (isPublicAce)
        {
            <img class="cardBack" src="images/ace-of-spades.png" />
        }
        else
        {
            <img class="cardBack" src="images/playing-card.png" />
        }

    </div>
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public int remainingCardCount { get; set; }

    public bool isPublicAce { get; set; } = false;

    protected override void OnInitialized()
    {
        PlayerHubConnection.NotifyWhoIsPublicAce += OnPublicAce;
    }
    private void OnPublicAce(object? sender, NotifyWhoIsPublicAceEventArgs args)
    {
        if (Player.Id == args.PublicAceId)
            isPublicAce = true;
        StateHasChanged();
    }
}
