div {
    position: relative;
    display: inline-block;
}

.card-count {
    position: absolute;
    top: 35%;
    left: 40%;
    -webkit-text-stroke: 2px pink;
    font-size: 5em;
}

.playingCards {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.cardBack {
    width: 10em;
}
.text {
    -webkit-text-stroke: 1px pink;
    font-size: 2em;
}