@using ZhuoHeiChaShared

<div style="display:inline-block; text-align:center">
    <div>Player: @Player.Name 's remaining cards</div>
    <div>
    <div class="playingCards">
        <span class="card-count">@remainingCardCount</span>
        <span class="card back"></span>
    </div>
    </div>
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public int remainingCardCount { get; set; }

}
