<div>
    <label>Please select @cardsCountReturnToPayer cards as your return cards to player @payer <br /> enter the cards you want to return use (,) to split</label>

    <button type="button" class="button" name="returnTribute" @onclick="CardsToBeReturn">
        确认
    </button>
    <div>
        <input @bind="@cardsNumber" />
    </div>
</div>

@code {

    [Parameter]
    public Func<List<int>, int, Task> ProcessReturnTribute { get; set; }

    [Parameter]
    public int payer { get; set; }

    [Parameter]
    public int cardsCountReturnToPayer { get; set; }

    public string cardsNumber;

    private void CardsToBeReturn()
    {
        ProcessReturnTribute(cardsNumber.Split(',').Select(Int32.Parse).ToList(), payer);
    }
}
