@page "/game/{gameId:int}"
@using System.Net.Http
@inject HttpClient Http
@using Microsoft.AspNetCore.SignalR.Client
@inject PlayerHubConnectionService PlayerHubConnection
@using ZhuoHeiChaShared
@using ZhuoHeiChaUI.Services
@using ZhuoHeiChaUI.Events
@using ZhuoHeiChaUI.Components

@if (!successJoin)
{
    <div>
    <h3>Enter your name</h3>
    <button @onclick="AddToGame">Enter</button>
    <div>
        <label>Your name</label>
        <input @bind="@userName" />
    </div>
    </div>
}
else
{
    @if (playerId == "0" && StartGameUIFlag)
    {
        <button @onclick="StartGame" disabled="@(canStartGame? false : true)">Start Game</button>
    }
    @if (StartGameUIFlag)
    {
        <p>Wait dealer to start game</p>
    }

    <ButtonContainer ProcessAceGoPublic=@ProcessAceGoPublic ProcessReturnTribute=@ProcessReturnTribute ></ButtonContainer>
    
}        



@code {
    [Parameter]
    public int GameId { get; set; }
    private string playerId;
    private string userName;
    private bool successJoin = false;
    private bool canStartGame = false;
    private List<int> cards;

    private List<int> PlayerTypeListThisRound;
    bool ReturnTributeUIFlag = false;
    bool StartGameUIFlag = true;
    bool ButtonContainerUIFlag = false;


    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        PlayerHubConnection.ReceiveMessage += OnReceiveMessage;
        PlayerHubConnection.NotifyCanStartGame += OnNotifyCanStartGame;
        PlayerHubConnection.InitializeGameState += InitialGameState;
        PlayerHubConnection.NotifyCardsUpdated += UpdateCards;
    }

    private async Task AddToGame()
    {
        //_hubConnection.On<IEnumerable<int>>(ClientHubMethods.UpdateCards, (updatedCards) =>
        //{
        //    cards = updatedCards;
        //});

        var connectionId = await PlayerHubConnection.EstablishConnection();
        var response = await Http.PostAsJsonAsync<Player>($"api/game/{GameId}/players", new Player
        {
            ConnectionId = connectionId,
            Name = userName
        });
        if (!response.IsSuccessStatusCode) return;

        playerId = await response.Content.ReadAsStringAsync();
        Console.WriteLine($"Player # {playerId} added, name: {userName}. Connection id: {connectionId}");
        successJoin = true;
        StateHasChanged();
    }

    private async Task StartGame()
    {
        var response = await Http.PostAsJsonAsync($"api/game/{GameId}/init", new { });
        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine("Unable to init game!");
            return;
        }
        Console.WriteLine("Game successfully started!");

        // hide start game (or waiting for start game) UI
        StartGameUIFlag = false;
        StateHasChanged();
    }

    private void InitialGameState(object? sender, InitializeGameStateEventArgs args)
    {
        cards = args.CardBefore;
        Console.WriteLine(string.Join(",", cards));
        // show cards
        Console.WriteLine("This is your original cards");
        cards = args.CardAfter;
        Console.WriteLine(string.Join(",", cards));
        // show cards
        Console.WriteLine("This is your cards after pay tribute");

    }
 

    private void UpdateCards(object? sender, NotifyCardsUpdatedEventArgs args)
    {
        cards = args.UpdatedCard;
        Console.WriteLine(string.Join(",", cards));

    }


    private async Task ProcessReturnTribute(List<int> cardsToBeReturned, int payer)
    {
        ReturnTributeUIFlag = false;
        StateHasChanged();
        string cardsToBeReturnedString = string.Join(",", cardsToBeReturned);
        var response = await Http.PostAsJsonAsync($"api/game/{GameId}/ReturnTribute?playerId={playerId}&payer={payer}&cardsToBeReturnedString={cardsToBeReturnedString}", new { });

        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine($"Failed return cards to {payer}!");
            ReturnTributeUIFlag = true;
            StateHasChanged();
            return;
        }

        Console.WriteLine($"you just return cards to {payer}!");
    }

    private async Task ProcessAceGoPublic(bool IsGoPublic)
    {
        var response = await Http.PostAsJsonAsync($"api/game/{GameId}/acegopublic?playerId={playerId}&isGoPublic={IsGoPublic}", new { });
        Console.WriteLine("you just Publish the Ace!");
    }


    #region NotificationHandlers
    private void OnNotifyCanStartGame(object? sender, EventArgs args)
    {
        if (playerId != "0")
        {
            Console.WriteLine("Non-host player should not receive this notification!");
            return;
        }

        canStartGame = true;
        StateHasChanged();
    }

    private void OnReceiveMessage(object? sender, ReceiveMessageEventArgs args)
    {
        Console.WriteLine(args.Message);
    }
    #endregion

}
